/* $color-bg-primary: rgb(89, 158, 104);
$color-bg-secondary: rgb(98, 185, 57);
$color-bg-date: rgb(89, 158, 104); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Inter", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-navbar {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
  color: rgb(236, 227, 227);
  align-items: center;
  padding: 0 1rem;
  order: 3;
}
.user-navbar__user-avatar {
  padding-right: 10px;
  width: 50px;
}
.user-navbar__cart-icon-container {
  display: flex;
  padding-right: 15px;
  color: rgb(236, 227, 227);
  font-size: 2rem;
  text-align: center;
}
.user-navbar__user-name {
  position: fixed;
  padding: 4px;
  border-radius: 7px;
  font-size: 1rem;
  background-color: rgb(85, 97, 85);
  top: 6rem;
  width: 45px;
  text-align: center;
}
.user-navbar__cart-counter {
  position: fixed;
  padding: 4px;
  border-radius: 7px;
  font-size: 1rem;
  background-color: rgb(85, 97, 85);
  top: 6rem;
  width: 36px;
}

.navbar {
  height: 60 px;
  background-color: rgb(139, 165, 139);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.navbar__logo {
  height: 150px;
  margin-left: 0rem;
}
.navbar__menu-label {
  color: rgb(236, 227, 227);
  /* margin-left: auto; */
  height: 100%;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 150px);
}
.navbar__menu-icon {
  height: 3px;
  background-color: rgb(236, 227, 227);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 3px;
  background-color: rgb(236, 227, 227);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 150px;
  background-color: rgb(139, 165, 139);
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__nav-item {
  padding: 0.75rem 1rem;
  color: rgb(236, 227, 227);
  font-size: 18px;
  border-bottom: 3px solid rgb(85, 97, 85);
  /* &:not(:last-child){
      border-bottom: 1px solid $color-bg-secondary;
  }  */
}
.navbar__nav-link {
  color: rgb(236, 227, 227);
}
.navbar__nav-link:hover {
  color: rgb(85, 97, 85);
}
.navbar__nav-link:active {
  color: rgb(85, 97, 85);
}

@media screen and (min-width: 905px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 45px;
  }
  .navbar__logo {
    height: 150px;
    margin-left: 3rem;
  }
}
@media screen and (max-width: 505px) {
  .user-navbar {
    display: none;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(85, 97, 85);
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__center {
  text-align: center;
}
.footer__contact-item {
  list-style: none;
}
.footer__logo {
  height: 5rem;
  filter: invert(100%);
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  display: inline-block;
}
.footer__company-name {
  color: rgb(199, 194, 194);
}
.footer__copyrigth {
  color: rgb(199, 194, 194);
}
.footer .footer__contact-icon {
  font-size: 1.5rem;
}
.footer .footer__contact-icon--facebook {
  color: #38529a;
}
.footer .footer__contact-icon--instagram {
  color: #f14d59;
}
.footer .footer__contact-icon--linkedin {
  color: #0077b6;
}

@media screen and (min-width: 600px) {
  .footer {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
.main {
  padding: 1.5rem;
  color: rgb(27, 26, 26);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  margin: 1rem;
  border: 0px solid rgb(27, 26, 26);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.card__header {
  height: 200px;
  background-color: rgb(236, 227, 227);
  border-radius: 5px 5px 0 0;
}
.card__heart {
  position: relative;
}
.card__heart i {
  position: absolute;
  right: 0;
  padding: 1rem;
  font-size: 1.8rem;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  z-index: 2;
}
.card__heart:hover {
  color: rgb(238, 155, 155);
}
.card__heart:active {
  color: rgb(204, 29, 29);
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.card__img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-out;
  transform: scale(1.3);
  overflow: visible;
}
.card__body {
  padding: 1rem;
  margin-bottom: 1rem;
}
.card__title {
  font-weight: 400;
  font-size: 1.2rem;
  border-bottom: 2px solid rgb(27, 26, 26);
  height: 3.6rem;
}
.card__description {
  padding: 1rem 0;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  height: 6rem;
  color: rgb(27, 26, 26);
  overflow: hidden;
}
.card__description:hover {
  overflow-x: hidden;
  overflow-y: auto;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
}
.card__price {
  /*       text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: -2.5rem;
  margin-bottom: 1.3rem;
  color: $color-bg-primary; */
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: -4.5rem;
  color: rgb(139, 165, 139);
}
.card__btn-container-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__btn-cart {
  position: relative;
  right: -4.8rem;
  color: rgb(236, 227, 227);
  background-color: rgb(139, 165, 139);
  padding: 1rem;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 0.8rem;
}
.card__btn-cart:hover {
  right: 0rem;
  transition: all 0.3s ease-out;
  background-color: rgb(27, 26, 26);
}
.card__btn {
  position: relative;
  right: 4.5rem;
  color: rgb(236, 227, 227);
  background-color: rgb(139, 165, 139);
  padding: 1rem;
  border-radius: 0px 10px 10px 0px;
}
.card__btn:hover {
  right: 0rem;
  transition: all 0.3s ease-out;
  background-color: rgb(27, 26, 26);
}
.card__date {
  /* visibility: hidden; */
  /* background-color: $color-bg-date;
  color: $color-font-ligth;
  text-align: center;
  font-weight: bold;
  font-size: .8rem;
  padding: .2rem; */
  color: rgba(143, 138, 138, 0.637);
  text-align: right;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.2rem;
}

.whish-list-on {
  color: rgb(204, 29, 29);
}

.whish-list-off {
  color: rgb(199, 194, 194);
}

.fa-cart-shopping,
.fa-circle-info {
  padding-left: 8px;
  padding-right: 8px;
}

.section-cards {
  display: block;
}
.section-cards__header {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.section-cards__title {
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}
.section-cards__subtitle {
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}
.section-cards__products-count {
  padding: 1rem;
  font-size: 0.8rem;
}
.section-cards__products-search-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.section-cards__category {
  color: rgba(143, 138, 138, 0.637);
  padding: 0.5rem;
  border-bottom: 3px solid rgb(139, 165, 139);
}

.product-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*     &__input:not(:placeholder-shown){

          + button{
              transition:  all .8s ease-in;
              transform: rotate(360deg);
          } 
      } */
  /* ANIMACION LUPA */
}
.product-search__input {
  outline: none;
  border: 1px solid rgb(85, 97, 85);
  border-radius: 5px 0 0 5px;
  padding: 0.6rem;
  width: 50%;
  color: rgb(27, 26, 26);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3137254902);
  background-color: rgb(255, 255, 255);
  padding-left: 2.6rem;
}
.product-search__btn {
  border: 1px solid rgb(85, 97, 85);
  background-color: rgb(85, 97, 85);
  color: rgb(255, 255, 255);
  border-radius: 0 20px 20px 0;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3137254902);
}
.product-search__btn:hover {
  border: 1px solid rgb(85, 97, 85);
  background-color: rgb(255, 255, 255);
  color: rgb(85, 97, 85);
}
.product-search__icon {
  display: flex;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: -2.6rem;
  z-index: 1;
}
.product-search .product-search__icon:hover {
  transition: all 0.8s ease-out;
  transform: rotate(360deg);
}

@media screen and (max-width: 600px) {
  .product-search__input {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .product-search__input {
    width: 90%;
  }
}
html {
  scroll-behavior: smooth;
}

.cards-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.whatsapp-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}
.whatsapp-container__img {
  width: 80px;
  filter: grayscale(90%);
}
.whatsapp-container__img:hover {
  width: 80px;
  filter: grayscale(20%);
}

.swipe-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  transition: opacity 0.17s ease;
}
.swipe-up__img {
  width: 60px;
  filter: grayscale(90%);
}
.swipe-up__img:hover {
  width: 60px;
  filter: grayscale(20%);
}

.main-contact {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
}
.main-contact__map {
  width: 50%;
  padding: 0.8rem;
}
.main-contact__form {
  width: 50%;
  padding: 0.8rem;
}

.contact-form {
  background-color: rgb(139, 165, 139);
  padding: 2rem;
  align-items: center;
}
.contact-form__item {
  padding: 5px;
}
.contact-form__btn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-left: 0.3rem;
}

.titulo-h1 {
  /*     font-size: 1.5rem;
      border-bottom: 2px solid $color-bg-primary;
      margin-bottom: .8rem;
      display: block; */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 2px solid rgb(139, 165, 139);
  font-weight: 100;
  color: rgb(85, 97, 85);
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.field-container__label {
  padding: 0.5rem;
}
.field-container__input {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  width: 100%;
}
.field-container__input:focus {
  border: none;
  outline: 2px ridge rgb(139, 165, 139);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.field-container__btn {
  padding: 5px;
}

iframe {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .main-contact {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  .main-contact__map {
    width: 100%;
  }
  .main-contact__form {
    width: 100%;
  }
}
.section {
  display: flex;
  justify-content: center;
}

.form-container {
  padding: 1.5rem;
  background-color: rgb(139, 165, 139);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 60vh;
  border-radius: 5px;
}
.form-container__item {
  display: block;
  width: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.input-form-register {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
}

.born-country-container__country {
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem;
}

.sex-container {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}
.sex-container__label {
  padding: 0.5rem;
}

.therms-container {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.therms-container__label {
  margin-left: 0.5rem;
}

.register__button {
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  background-color: rgb(85, 97, 85);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 90vh;
  }
}
.mainAboutUs {
  padding: 1.5rem;
  color: rgb(27, 26, 26);
}
.mainAboutUs__title {
  font-size: 2rem;
  text-align: center;
  padding: 0.8rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(27, 26, 26);
}
.mainAboutUs__containerGeneral {
  display: flex;
  flex-direction: column;
}
.mainAboutUs__container1 {
  display: flex;
  flex-direction: row;
}
.mainAboutUs__container2 {
  display: flex;
  flex-direction: row;
}
.mainAboutUs__about-us-p {
  padding: 1rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainAboutUs__storeImage {
  height: 50%;
  width: 50%;
  border-radius: 8px;
  filter: grayscale(90%);
}
.mainAboutUs__storeImage:hover {
  filter: grayscale(10%);
}

@media screen and (max-width: 905px) {
  .mainAboutUs__container1 {
    display: flex;
    flex-direction: column;
  }
  .mainAboutUs__container2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .mainAboutUs__storeImage {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}/*# sourceMappingURL=main.css.map */