@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Inter", Arial, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.user-navbar {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
  color: rgb(236, 227, 227);
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  padding-right: 10px;
  width: 50px;
}
.user-navbar__cart-icon-container {
  display: flex;
  padding-right: 15px;
  color: rgb(236, 227, 227);
  font-size: 2rem;
  text-align: center;
}
.user-navbar__user-name {
  position: fixed;
  padding: 4px;
  border-radius: 7px;
  font-size: 1rem;
  background-color: rgb(85, 97, 85);
  top: 6rem;
  width: 45px;
  text-align: center;
}
.user-navbar__cart-counter {
  position: fixed;
  padding: 4px;
  border-radius: 7px;
  font-size: 1rem;
  background-color: rgb(85, 97, 85);
  top: 6rem;
  width: 36px;
}

.navbar {
  height: 60 px;
  background-color: rgb(139, 165, 139);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.navbar__logo {
  height: 150px;
  margin-left: 0rem;
}
.navbar__menu-label {
  color: rgb(236, 227, 227);
  /* margin-left: auto; */
  height: 100%;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 150px);
}
.navbar__menu-icon {
  height: 3px;
  background-color: rgb(236, 227, 227);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 3px;
  background-color: rgb(236, 227, 227);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 150px;
  background-color: rgb(139, 165, 139);
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__nav-item {
  padding: 0.75rem 1rem;
  color: rgb(236, 227, 227);
  font-size: 18px;
  border-bottom: 5px solid rgb(85, 97, 85);
  /* &:not(:last-child){
      border-bottom: 1px solid $color-bg-secondary;
  }  */
}
.navbar__nav-link {
  color: rgb(236, 227, 227);
}
.navbar__nav-link:hover {
  color: rgb(85, 97, 85);
}
.navbar__nav-link:active {
  color: rgb(85, 97, 85);
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 45px;
  }
  .navbar__logo {
    height: 150px;
    margin-left: 3rem;
  }
  .user-navbar {
    order: 3;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(85, 97, 85);
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  display: inline-block;
}
.footer .footer__contact-icon {
  font-size: 1.5rem;
}
.footer .footer__contact-icon--facebook {
  color: #38529a;
}
.footer .footer__contact-icon--instagram {
  color: #f14d59;
}
.footer .footer__contact-icon--linkedin {
  color: #0077b6;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}
.main {
  margin-top: 150px;
  padding: 1.5rem;
  color: rgb(27, 26, 26);
}

.card {
  margin: 1rem;
  border: 1px solid rgb(27, 26, 26);
}
.card__header {
  height: 200px;
  background-color: rgb(236, 227, 227);
}
.card__img {
  height: 200px;
}
.card__body {
  padding: 1rem;
}
.card__title {
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 2px solid rgb(27, 26, 26);
}
.card__description {
  padding: 1rem 0;
}
.card__price {
  text-align: right;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(139, 165, 139);
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1.5rem 0;
}
.card__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__btn-cart {
  color: rgb(236, 227, 227);
  background-color: rgb(139, 165, 139);
  padding: 1rem;
  border-radius: 0px 10px 10px 0px;
}
.card__date {
  visibility: hidden;
}
.card__btn {
  color: rgb(236, 227, 227);
  background-color: rgb(139, 165, 139);
  padding: 1rem;
  border-radius: 10px 0px 0px 10px;
}

.section-cards__header {
  text-transform: uppercase;
  font-size: 2 rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.section-cards__subtitle {
  background-color: rgb(139, 165, 139);
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}
.section-cards__products-count {
  padding: 1rem;
}
.section-cards__products-search-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  margin-bottom: 1rem;
}

.product-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*     &__input:not(:placeholder-shown){

          + button{
              transition:  all .8s ease-in;
              transform: rotate(360deg);
          } 
      } */
  /* ANIMACION LUPA */
}
.product-search__input {
  outline: none;
  border: 1px solid rgb(85, 97, 85);
  border-radius: 5px 0 0 5px;
  padding: 0.6rem;
  width: 50%;
  color: rgb(27, 26, 26);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3137254902);
  background-color: rgb(255, 255, 255);
  padding-left: 2.6rem;
}
.product-search__btn {
  border: 1px solid rgb(85, 97, 85);
  background-color: rgb(85, 97, 85);
  color: rgb(255, 255, 255);
  border-radius: 0 20px 20px 0;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3137254902);
}
.product-search__btn:hover {
  border: 1px solid rgb(85, 97, 85);
  background-color: rgb(255, 255, 255);
  color: rgb(85, 97, 85);
}
.product-search__icon {
  display: flex;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: -2.6rem;
  z-index: 1;
}
.product-search .product-search__icon:hover {
  transition: all 0.8s ease-out;
  transform: rotate(360deg);
}

@media screen and (max-width: 600px) {
  .product-search__input {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .product-search__input {
    width: 90%;
  }
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.whatsapp-container__img {
  width: 80px;
  filter: grayscale(90%);
}
.whatsapp-container__img:hover {
  width: 80px;
  filter: grayscale(20%);
}/*# sourceMappingURL=main.css.map */