$color-bg-primary: rgb(139, 165, 139);
$color-bg-secondary: rgb(85, 97, 85);
$color-font-dark: rgb(27, 26, 26);
$color-font-ligth: rgb(236, 227, 227);  

$color-background: rgb(255, 255, 255); 

$color-wish-list-on: rgb(204, 29, 29); 
$color-wish-list-off: rgb(199, 194, 194); 
<<<<<<< HEAD
$color-wish-list-hover: rgb(238, 155, 155); 
=======
$color-wish-list-hover: rgb(207, 106, 106); 
>>>>>>> b5fab6d451fb9d60dc5b46ef657311bd010c730e

$shadow0: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow1: rgba(0, 0, 0, 0.35) 0px 5px 5px;