/* $color-bg-primary: rgb(89, 158, 104);
$color-bg-secondary: rgb(98, 185, 57);
$color-bg-date: rgb(89, 158, 104); */


$color-bg-primary: rgb(139, 165, 139);
$color-bg-secondary: rgb(85, 97, 85);
$color-bg-date: rgb(139, 165, 139);


$color-font-dark: rgb(27, 26, 26);
$color-font-ligth: rgb(236, 227, 227);  
$color-font-ligth2: rgba(143, 138, 138, 0.637);  

$color-background: rgb(255, 255, 255); 

$color-wish-list-on: rgb(204, 29, 29); 
$color-wish-list-off: rgb(199, 194, 194); 
$color-wish-list-hover: rgb(238, 155, 155); 

$shadow0: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow1: rgba(0, 0, 0, 0.35) 0px 5px 5px;