.card {
   margin: 1rem;
   border: 0px solid $color-font-dark;
   box-shadow: $shadow0;
   border-radius: 5px 5px 0 0;
   overflow:hidden;
   

   &__header{
         height: 200px;
         background-color: $color-font-ligth;
         border-radius: 5px 5px 0 0;
      }
      &__heart{
         position:relative;
         i {
            position:absolute;
            right: 0;
            padding: 1rem;
            font-size: 1.8rem;
            text-shadow: $shadow1;
         }
         }

   &__img{
      width: 100%;
      height: 100%;
      object-fit: cover
   }

   &__img:hover{

      transform: rotate(-3deg) scale(1.2);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: all 0.3s ease-out;

   }


   &__body{
      padding: 1rem;

   }
   &__title{
      font-weight: 500;
      font-size: 1.5rem;
      border-bottom: 2px solid $color-font-dark;
   }
   &__description{
      padding: 1rem 0;
   }
   &__price{
      text-align: right;
      font-weight: 500;
      font-size: 1.5rem;
      color: $color-bg-primary;
   }
   &__footer{
      display: flex;
      justify-content: space-between;
      padding: 0 0 1.5rem 0 ;
   }
   //----------------------
   &__btn-container{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   //----------------------
   &__btn-cart{
      color: $color-font-ligth;
      background-color: $color-bg-primary;
      padding: 1rem;
      border-radius: 0px 10px 10px 0px;
   }

   &__date{
      visibility: hidden;
   }

   &__btn{
      color: $color-font-ligth;
      background-color: $color-bg-primary;
      padding: 1rem;
      border-radius: 10px 0px 0px 10px;
   }
}

.whish-list-on{
   color: $color-wish-list-on;
}

.whish-list-off{
   color: $color-wish-list-off;
}

/* $color-bg-primary: rgb(139, 165, 139);
$color-bg-secondary: rgb(85, 97, 85);
$color-font-dark: rgb(27, 26, 26);
$color-font-ligth: rgb(236, 227, 227); */
