.section-cards{
    &__header{
        text-transform: uppercase;
        font-size: 2 rem;
        text-align: center;
    }
    &__subtitle{
        background-color: $color-bg-primary;
        font-size: 1rem;
    }
    &__products-search-container{
        padding: 1rem;
        background-color: $color-bg-secondary;
    }
}

.cards-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
}


@media screen and (min-width:1000px){
    .section-cards{
        &__header{
            display: flex;

        }
    }
}