




.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}


.whatsapp-container{
    position: fixed;
    bottom: 20px;
    right:20px;
    &__img{
        width: 80px;
        filter: grayscale(90%);
    }
    &__img:hover{
        width: 80px;
        filter: grayscale(20%);
    }

}