html
{
  scroll-behavior: smooth;
}

.cards-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
} 

.whatsapp-container{
    position: fixed;
    bottom: 15px;
    left:20px;
    z-index: 10;
    &__img{
        width: 80px;
        filter: grayscale(90%);
    }
    &__img:hover{
        width: 80px;
        filter: grayscale(20%);
    }
    &__link{
         url: "https://wa.me/543512531103?text=Hola%20Ranson%20and%20Wilder%20";
    }
}

.swipe-up{
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 10;
    transition:opacity .17s ease;
    &__img{
        width: 60px;
        filter: grayscale(90%);
    }
    &__img:hover{
        width: 60px;
        filter: grayscale(20%);
    }
}